<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>WALL-Eve - an EVE Companion App</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/character.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <!-- Cytoscape.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.2/cytoscape.min.js"></script>
    <!-- Custom Map Script -->
    <script src="js/cytoscape-map.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
